<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive covid-19 website</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/42befda3cf.js" crossorigin="anonymous"></script>

    <!-- custom css file link  -->
    <!-- <link rel="stylesheet" href="Covid.css"> -->

    <!-- <link rel="stylesheet" href="profile.css"> -->
    <link rel="stylesheet" href="css/prediction.css">
</head>

<body>

    <!-- header section starts  -->
    {{>navbar}}
    <!-- header section ends -->
    <div class="container">
    <div class="title">Fill in the details</div>
    <div class="content">
      <form action="/predict" method="POST">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Name</span>
            <input type="text" placeholder="Enter your name" name = "name" required>
          </div>
          <div class="input-box">
            <span class="details">Surname</span>
            <input type="text" placeholder="Enter your surname" name = "surname" required>
          </div>
          <div class="input-box">
            <span class="details">Age</span>
            <input type="number" placeholder="Enter your age" name = "age" required>
          </div>
          <div class="input-box">
            <span class="details">Phone number</span>
            <input type="number" placeholder="Enter your phone number" name = "phoneNumber" required>
          </div>
          <div class="input-box">
            <span class="details">Other Disease</span>
            <input type="text" placeholder="Any other disease" name = "otherDisease" required>
          </div>
          <div class="input-box">
            <span class="details">State</span>
            <input type="text" placeholder="Enter your State" name = "state" required>
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <span class="gender-title">Sex</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Male</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Female</span>
          </label>
          
          </div>
        </div>
        
         <div class="gender-details">
          <input type="radio" name="gender" id="dot-3">
          <input type="radio" name="gender" id="dot-4">
          <span class="gender-title">Patient type</span>
          <div class="category">
            <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Male</span>
          </label>
          <label for="dot-4">
            <span class="dot four"></span>
            <span class="gender">Female</span>
          </label>
          </div>
        </div>
        
         <div class="gender-details">
          <input type="radio" name="gender" id="dot-5">
          <input type="radio" name="gender" id="dot-6">
          <span class="gender-title">Intubed</span>
          <div class="category">
            <label for="dot-5">
            <span class="dot five"></span>
            <span class="gender">Yes</span>
          </label>
          <label for="dot-6"> 
            <span class="dot six"></span>
            <span class="gender">No</span>
          </label>  
          </div>
        </div>
        
         <div class="gender-details">
          <input type="radio" name="gender" id="dot-7">
          <input type="radio" name="gender" id="dot-8">
          <span class="gender-title">Pneumonia</span>
          <div class="category">
            <label for="dot-7">
            <span class="dot seven"></span>
            <span class="gender">Yes</span>
          </label>
          <label for="dot-8">
            <span class="dot eight"></span>
            <span class="gender">No</span>
          </label>
          
          </div>
        </div>
        
         <div class="gender-details">
          <input type="radio" name="gender" id="dot-9">
          <input type="radio" name="gender" id="dot-10">
          <span class="gender-title">Pregnant</span>
          <div class="category">
            <label for="dot-9">
            <span class="dot nine"></span>
            <span class="gender">Yes</span>
          </label>
          <label for="dot-10">
            <span class="dot ten"></span>
            <span class="gender">No</span>
          </label>
          
          </div>
        </div>
        
         <div class="gender-details">
          <input type="radio" name="gender" id="dot-11">
          <input type="radio" name="gender" id="dot-12">
          <span class="gender-title">Diabetes</span>
          <div class="category">
            <label for="dot-11">
            <span class="dot eleven"></span>
            <span class="gender">Yes</span>
          </label>
          <label for="dot-12">
            <span class="dot twelve"></span>
            <span class="gender">No</span>
          </label>
          
          </div>
        </div>
        
         <div class="gender-details">
          <input type="radio" name="gender" id="dot-13">
          <input type="radio" name="gender" id="dot-14">
          <span class="gender-title">Copd</span>
          <div class="category">
            <label for="dot-13">
            <span class="dot thirteen"></span>
            <span class="gender">Yes</span>
          </label>
          <label for="dot-14">
            <span class="dot fourteen"></span>
            <span class="gender">No</span>
          </label>
          
          </div>
        </div>
        
         <div class="gender-details">
          <input type="radio" name="gender" id="dot-15">
          <input type="radio" name="gender" id="dot-16">
          <span class="gender-title">Asthma</span>
          <div class="category">
            <label for="dot-15">
            <span class="dot fifteen"></span>
            <span class="gender">Yes</span>
          </label>
          <label for="dot-16">
            <span class="dot sixteen"></span>
            <span class="gender">No</span>
          </label>
          
          </div>
        </div>
        
         <div class="gender-details">
          <input type="radio" name="gender" id="dot-17">
          <input type="radio" name="gender" id="dot-18">
          <span class="gender-title">Inmsurp</span>
          <div class="category">
            <label for="dot-17">
            <span class="dot seventeen"></span>
            <span class="gender">Yes</span>
          </label>
          <label for="dot-18">
            <span class="dot eighteen"></span>
            <span class="gender">No</span>
          </label>
          
          </div>
        </div>
        
         <div class="gender-details">
          <input type="radio" name="gender" id="dot-19">
          <input type="radio" name="gender" id="dot-20">
          <span class="gender-title">Hypertension</span>
          <div class="category">
            <label for="dot-19">
            <span class="dot nineteen"></span>
            <span class="gender">Yes</span>
          </label>
          <label for="dot-20">
            <span class="dot twenty"></span>
            <span class="gender">No</span>
          </label>
          
          </div>
        </div>
        
         <div class="gender-details">
          <input type="radio" name="gender" id="dot-21">
          <input type="radio" name="gender" id="dot-22">
          <span class="gender-title">Cardiovascular</span>
          <div class="category">
            <label for="dot-21">
            <span class="dot twentyone"></span>
            <span class="gender">Yes</span>
          </label>
          <label for="dot-22">
            <span class="dot twentytwo"></span>
            <span class="gender">No</span>
          </label>
          
          </div>
        </div>
         <div class="gender-details">
          <input type="radio" name="gender" id="dot-23">
          <input type="radio" name="gender" id="dot-24">
          <span class="gender-title">Obesity</span>
          <div class="category">
            <label for="dot-23">
            <span class="dot twentythree"></span>
            <span class="gender">Yes</span>
          </label>
          <label for="dot-24">
            <span class="dot twentyfour"></span>
            <span class="gender">No</span>
          </label>
          
          </div>
        </div>
        
         <div class="gender-details">
          <input type="radio" name="gender" id="dot-25">
          <input type="radio" name="gender" id="dot-26">
          <span class="gender-title">Renal Chronic</span>
          <div class="category">
            <label for="dot-25">
            <span class="dot twentyfive"></span>
            <span class="gender">Yes</span>
          </label>
          <label for="dot-26">
            <span class="dot twentysix"></span>
            <span class="gender">No</span>
          </label>
          
          </div>
        </div>
        
         <div class="gender-details">
          <input type="radio" name="gender" id="dot-27">
          <input type="radio" name="gender" id="dot-28">
          <span class="gender-title">Tobacco</span>
          <div class="category">
            <label for="dot-27">
            <span class="dot twentyseven"></span>
            <span class="gender">Yes</span>
          </label>
          <label for="dot-28">
            <span class="dot twentyeight"></span>
            <span class="gender">No</span>
          </label>
          
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
    {{!--<div class="form-title">
        <h1 class="heading" style="margin-top: 90px;"> Fill In The Details </h1>
    </div>

    <div class="form_container">

        <form class="form">
            <input class="form-control" type="text" placeholder="Name">
            <input class="form-control" type="text" placeholder="Surname">
            <input class="form-control" type="text" placeholder="Sex">
            <input class="form-control" type="text" placeholder="Patient_type">
            <input class="form-control" type="text" placeholder="Intubed">
            <input class="form-control" type="text" placeholder="Pneumonia">
            <input class="form-control" type="text" placeholder="Age">
            <input class="form-control" type="text" placeholder="Pregnancy">
            <input class="form-control" type="text" placeholder="Diabetes">
            <input class="form-control" type="text" placeholder="Copd">
            <input class="form-control" type="text" placeholder="Asthma">
            <input class="form-control" type="text" placeholder="Inmsurp">
            <input class="form-control" type="text" placeholder="Hypertension">
            <input class="form-control" type="text" placeholder="Other_disease">
            <input class="form-control" type="text" placeholder="Cardiovascular">
            <input class="form-control" type="text" placeholder="Obesity">
            <input class="form-control" type="text" placeholder="Renal_chronic">
            <input class="form-control" type="text" placeholder="Tobacco">
            <input class="form-control" type="text" placeholder="Contact_other_covid">
        </form>
    </div>--}}
</body>

</html>