<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive covid-19 website</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/42befda3cf.js" crossorigin="anonymous"></script>

    <!-- custom css file link  -->
    <!-- <link rel="stylesheet" href="Covid.css"> -->

    <!-- <link rel="stylesheet" href="profile.css"> -->
    <link rel="stylesheet" href="css/prediction.css">
</head>

<body>

    <!-- header section starts  -->
    {{>navbar}}
    <!-- header section ends -->
    <div class="container">
    <div class="title">Fill in the details</div>
    <div class="content">
      <form action="/prediction" method="POST">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Name</span>
            <input type="text" placeholder="Enter your name" name = "name" required>
          </div>
          <div class="input-box">
            <span class="details">Surname</span>
            <input type="text" placeholder="Enter your surname" name = "surname" required>
          </div>
          <div class="input-box">
            <span class="details">Age</span>
            <input type="number" placeholder="Enter your age" name = "age" required>
          </div>
          <div class="input-box">
            <span class="details">Phone number</span>
            <input type="number" placeholder="Enter your phone number" name = "phoneNumber" required>
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1" value = "2">
          <input type="radio" name="gender" id="dot-2" value = "1">
          <span class="gender-title">Sex</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Male</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Female</span>
          </label>
          </div>
        </div>
        
         <div class="gender-details">
          <input type="radio" name="patientType" id="dot-3" value = "2">
          <input type="radio" name="patientType" id="dot-4" value = "1">
          <span class="gender-title">Patient type</span>
          <div class="category">
            <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Hospitalized</span>
          </label>
          <label for="dot-4">
            <span class="dot four"></span>
            <span class="gender">Non-hospitalized</span>
          </label>
          </div>
        </div>
        
         <div class="gender-details">
          <input type="radio" name="intubed" id="dot-5" value = "1">
          <input type="radio" name="intubed" id="dot-6" value = "2">
          <span class="gender-title">Intubed</span>
          <div class="category">
            <label for="dot-5">
            <span class="dot five"></span>
            <span class="gender">Used Ventilation</span>
          </label>
          <label for="dot-6"> 
            <span class="dot six"></span>
            <span class="gender">Not Used Ventilation</span>
          </label>  
          </div>
        </div>
        
         <div class="gender-details">
          <input type="radio" name="pneumonia" id="dot-7" value = "1">
          <input type="radio" name="pneumonia" id="dot-8" value = "2" >
          <span class="gender-title">Pneumonia</span>
          <div class="category">
            <label for="dot-7">
            <span class="dot seven"></span>
            <span class="gender">Yes</span>
          </label>
          <label for="dot-8">
            <span class="dot eight"></span>
            <span class="gender">No</span>
          </label>
          
          </div>
        </div>
        
         <div class="gender-details">
          <input type="radio" name="pregnancy" id="dot-9" value = "1">
          <input type="radio" name="pregnancy" id="dot-10" value = "2">
          <span class="gender-title">Pregnant</span>
          <div class="category">
            <label for="dot-9">
            <span class="dot nine"></span>
            <span class="gender">Yes</span>
          </label>
          <label for="dot-10">
            <span class="dot ten"></span>
            <span class="gender">No</span>
          </label>
          
          </div>
        </div>
        
         <div class="gender-details">
          <input type="radio" name="diabetes" id="dot-11" value = "1">
          <input type="radio" name="diabetes" id="dot-12" value = "2">
          <span class="gender-title">Diabetes</span>
          <div class="category">
            <label for="dot-11">
            <span class="dot eleven"></span>
            <span class="gender">Yes</span>
          </label>
          <label for="dot-12">
            <span class="dot twelve"></span>
            <span class="gender">No</span>
          </label>
          
          </div>
        </div>
        
         <div class="gender-details">
          <input type="radio" name="copd" id="dot-13" value = "1">
          <input type="radio" name="copd" id="dot-14" value = "2">
          <span class="gender-title">Copd</span>
          <div class="category">
            <label for="dot-13">
            <span class="dot thirteen"></span>
            <span class="gender">Yes</span>
          </label>
          <label for="dot-14">
            <span class="dot fourteen"></span>
            <span class="gender">No</span>
          </label>
          
          </div>
        </div>
        
         <div class="gender-details">
          <input type="radio" name="asthma" id="dot-15" value = "1">
          <input type="radio" name="asthma" id="dot-16" value = "2">
          <span class="gender-title">Asthma</span>
          <div class="category">
            <label for="dot-15">
            <span class="dot fifteen"></span>
            <span class="gender">Yes</span>
          </label>
          <label for="dot-16">
            <span class="dot sixteen"></span>
            <span class="gender">No</span>
          </label>
          
          </div>
        </div>
        
         <div class="gender-details">
          <input type="radio" name="immunosuppressed" id="dot-17" value = "1">
          <input type="radio" name="immunosuppressed" id="dot-18" value = "2">
          <span class="gender-title">immunosuppressed</span>
          <div class="category">
            <label for="dot-17">
            <span class="dot seventeen"></span>
            <span class="gender">Yes</span>
          </label>
          <label for="dot-18">
            <span class="dot eighteen"></span>
            <span class="gender">No</span>
          </label>
          
          </div>
        </div>
        
         <div class="gender-details">
          <input type="radio" name="hypertension" id="dot-19" value = "1">
          <input type="radio" name="hypertension" id="dot-20" value = "2">
          <span class="gender-title">Hypertension</span>
          <div class="category">
            <label for="dot-19">
            <span class="dot nineteen"></span>
            <span class="gender">Yes</span>
          </label>
          <label for="dot-20">
            <span class="dot twenty"></span>
            <span class="gender">No</span>
          </label>
          
          </div>
        </div>
        
         <div class="gender-details">
          <input type="radio" name="cardiovascular" id="dot-21" value = "1">
          <input type="radio" name="cardiovascular" id="dot-22" value = "2">
          <span class="gender-title">Cardiovascular</span>
          <div class="category">
            <label for="dot-21">
            <span class="dot twentyone"></span>
            <span class="gender">Yes</span>
          </label>
          <label for="dot-22">
            <span class="dot twentytwo"></span>
            <span class="gender">No</span>
          </label>
          
          </div>
        </div>
         <div class="gender-details">
          <input type="radio" name="obesity" id="dot-23" value = "1">
          <input type="radio" name="obesity" id="dot-24" value = "2">
          <span class="gender-title">Obesity</span>
          <div class="category">
            <label for="dot-23">
            <span class="dot twentythree"></span>
            <span class="gender">Yes</span>
          </label>
          <label for="dot-24">
            <span class="dot twentyfour"></span>
            <span class="gender">No</span>
          </label>
          
          </div>
        </div>
        
         <div class="gender-details">
          <input type="radio" name="renalChronic" id="dot-25" value = "1">
          <input type="radio" name="renalChronic" id="dot-26" value = "2">
          <span class="gender-title">Renal Chronic</span>
          <div class="category">
            <label for="dot-25">
            <span class="dot twentyfive"></span>
            <span class="gender">Yes</span>
          </label>
          <label for="dot-26">
            <span class="dot twentysix"></span>
            <span class="gender">No</span>
          </label>
          
          </div>
        </div>
        
         <div class="gender-details">
          <input type="radio" name="tobacco" id="dot-27" value = "1">
          <input type="radio" name="tobacco" id="dot-28" value = "2">
          <span class="gender-title">Tobacco</span>
          <div class="category">
            <label for="dot-27">
            <span class="dot twentyseven"></span>
            <span class="gender">Yes</span>
          </label>
          <label for="dot-28">
            <span class="dot twentyeight"></span>
            <span class="gender">No</span>
          </label>
          </div>
        </div>

        <div class="gender-details">
          <input type="radio" name="contact" id="dot-29" value = "1">
          <input type="radio" name="contact" id="dot-30" value = "2">
          <span class="gender-title">Contact with other covid person</span>
          <div class="category">
            <label for="dot-29">
            <span class="dot twentynine"></span>
            <span class="gender">Yes</span>
          </label>
          <label for="dot-30">
            <span class="dot thirty"></span>
            <span class="gender">No</span>
          </label>
          </div>
        </div>

        <div class="gender-details">
          <input type="radio" name="icu" id="dot-31"  value = "1">
          <input type="radio" name="icu" id="dot-32" value = "2">
          <span class="gender-title">Admitted to ICU</span>
          <div class="category">
            <label for="dot-31">
            <span class="dot thirtyone"></span>
            <span class="gender">Yes</span>
          </label>
          <label for="dot-32">
            <span class="dot thirtytwo"></span>
            <span class="gender">No</span>
          </label>
          </div>
        </div>

        <div class="gender-details">
          <input type="radio" name="otherDisease" id="dot-33" value = "1">
          <input type="radio" name="otherDisease" id="dot-34" value = "2">
          <span class="gender-title">Other disease</span>
          <div class="category">
            <label for="dot-33">
            <span class="dot thirtythree"></span>
            <span class="gender">Yes</span>
          </label>
          <label for="dot-34">
            <span class="dot thirtyfour"></span>
            <span class="gender">No</span>
          </label>
          </div>
        </div>
        
        <div class="button">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
    {{!--<div class="form-title">
        <h1 class="heading" style="margin-top: 90px;"> Fill In The Details </h1>
    </div>

    <div class="form_container">

        <form class="form">
            <input class="form-control" type="text" placeholder="Name">
            <input class="form-control" type="text" placeholder="Surname">
            <input class="form-control" type="text" placeholder="Sex">
            <input class="form-control" type="text" placeholder="Patient_type">
            <input class="form-control" type="text" placeholder="Intubed">
            <input class="form-control" type="text" placeholder="Pneumonia">
            <input class="form-control" type="text" placeholder="Age">
            <input class="form-control" type="text" placeholder="Pregnancy">
            <input class="form-control" type="text" placeholder="Diabetes">
            <input class="form-control" type="text" placeholder="Copd">
            <input class="form-control" type="text" placeholder="Asthma">
            <input class="form-control" type="text" placeholder="Inmsurp">
            <input class="form-control" type="text" placeholder="Hypertension">
            <input class="form-control" type="text" placeholder="Other_disease">
            <input class="form-control" type="text" placeholder="Cardiovascular">
            <input class="form-control" type="text" placeholder="Obesity">
            <input class="form-control" type="text" placeholder="Renal_chronic">
            <input class="form-control" type="text" placeholder="Tobacco">
            <input class="form-control" type="text" placeholder="Contact_other_covid">
        </form>
    </div>--}}
</body>

</html>