<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive covid-19 website</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/42befda3cf.js" crossorigin="anonymous"></script>

    <!-- custom css file link  -->
    <!-- <link rel="stylesheet" href="Covid.css"> -->

    <!-- <link rel="stylesheet" href="profile.css"> -->
    <link rel="stylesheet" href="css/prediction.css">
</head>

<body>

    <!-- header section starts  -->
    <header>

        <a href="/" class="logo">c<span class="fas fa-virus"></span>vid-19</a>

        <div id="menu" class="fas fa-bars"></div>

        <nav class="navbar">
            <a class="tactive" href="/">home</a>
            <a href="/physiotherapy">exercises</a>
            <a href="/recipe">recipes</a>
            <a href="/prediction">prediction</a>
            <a href="#doctor">doctor</a>
            <a href="#logout">Log Out</a>
            <a href="/profile"> <i class="fa-solid fa-user"></i> </a>
        </nav>

    </header>

    <!-- header section ends -->

    <div class="form-title">
        <h1 class="heading" style="margin-top: 90px;"> Fill In The Details </h1>
    </div>

    <div class="form_container">

        <form class="form">
            <input class="form-control" type="text" placeholder="Name">
            <input class="form-control" type="text" placeholder="Surname">
            <input class="form-control" type="text" placeholder="Sex">
            <input class="form-control" type="text" placeholder="Patient_type">
            <input class="form-control" type="text" placeholder="Intubed">
            <input class="form-control" type="text" placeholder="Pneumonia">
            <input class="form-control" type="text" placeholder="Age">
            <input class="form-control" type="text" placeholder="Pregnancy">
            <input class="form-control" type="text" placeholder="Diabetes">
            <input class="form-control" type="text" placeholder="Copd">
            <input class="form-control" type="text" placeholder="Asthma">
            <input class="form-control" type="text" placeholder="Inmsurp">
            <input class="form-control" type="text" placeholder="Hypertension">
            <input class="form-control" type="text" placeholder="Other_disease">
            <input class="form-control" type="text" placeholder="Cardiovascular">
            <input class="form-control" type="text" placeholder="Obesity">
            <input class="form-control" type="text" placeholder="Renal_chronic">
            <input class="form-control" type="text" placeholder="Tobacco">
            <input class="form-control" type="text" placeholder="Contact_other_covid">
        </form>
    </div>
</body>

</html>