<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kadha Recipe</title>
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/recipe.css">
</head>

<body>
    {{!-- <header>

        <a href="/" class="logo">c<span class="fas fa-virus"></span>vid-19</a>

        <div id="menu" class="fas fa-bars"></div>

        <nav class="navbar">
            <a class="tactive" href="/">home</a>
            <a href="/physiotherapy">exercises</a>
            <a href="/recipe">recipes</a>
            <a href="/prediction">prediction</a>
            <a href="#doctor">doctor</a>
            <a href="/logout">Log Out</a>
            <a href="/profile"> <i class="fa-solid fa-user"></i> </a>
        </nav>

    </header> --}}
    {{>navbar}}

    <section class="home" id="home">
        <div class="content">
            <h1>Kadha Recipe For Covid</h1>
            <p>Kadha is a sore throat remedy. It is an Indian Ayurvedic
                concoction. This is a gharelu nuskha which helps when you got a
                slight sore throat due to change in weather. </p>
        </div>
    </section>

    <section class="recipe" id="recipe">
        <div class="box-container">
            <div class="container">
                <h2>Mix of Standing Spices</h2>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSusFiou3xtjkaxDnjc98GjeAIU_M5j0r6fxQ&usqp=CAU"
                    alt="image" width="125px" height="200px">
                <h2>Ingredients</h2>
                <ul>
                    <li>2-3 choti elaichi/green cardamoms</li>
                    <li>2-3 badi elaichi/black cardamom</li>
                    <li>4-5 laung/cloves</li>
                    <li>1 tablespoon saunf/fennel seeds</li>
                    <li>2 piece mulethi/licorice</li>
                    <li>1 small piece of adrak/ginger sliced</li>
                    <li>4-5 kali mirch/pepper corns</li>
                    <li>1 tablespoon tulsi /Indian basil
                        OR Italian basil if you do not get it nearby</li>
                    <li>1 tea bag</li>
                    <li>gud/jaggery as per taste</li>
                    <li>1 pinch salt</li>
                    <li>3 cups water</li>
                </ul>
                <h2>Instructions</h2>
                <ol type="1">
                    <li>Slightly crush and mix all ingredients together except the jaggery.</li>
                    <li>Boil in water until it reduces to half,add jaggery.</li>
                    <li>Strain the liquid through a sieve and serve warm.</li>
                </ol>
            </div>
            <div class="container">
                <h2>Mix of Standing Spices</h2>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSusFiou3xtjkaxDnjc98GjeAIU_M5j0r6fxQ&usqp=CAU"
                    alt="image" width="125px" height="200px">
                <h2>Ingredients</h2>
                <ul>
                    <li>2-3 choti elaichi/green cardamoms</li>
                    <li>2-3 badi elaichi/black cardamom</li>
                    <li>4-5 laung/cloves</li>
                    <li>1 tablespoon saunf/fennel seeds</li>
                    <li>2 piece mulethi/licorice</li>
                    <li>1 small piece of adrak/ginger sliced</li>
                    <li>4-5 kali mirch/pepper corns</li>
                    <li>1 tablespoon tulsi /Indian basil
                        OR Italian basil if you do not get it nearby</li>
                    <li>1 tea bag</li>
                    <li>gud/jaggery as per taste</li>
                    <li>1 pinch salt</li>
                    <li>3 cups water</li>
                </ul>
                <h2>Instructions</h2>
                <ol type="1">
                    <li>Slightly crush and mix all ingredients together except the jaggery.</li>
                    <li>Boil in water until it reduces to half,add jaggery.</li>
                    <li>Strain the liquid through a sieve and serve warm.</li>
                </ol>
            </div>

            <div class="container">
                <h2>Mix of Standing Spices</h2>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSusFiou3xtjkaxDnjc98GjeAIU_M5j0r6fxQ&usqp=CAU"
                    alt="image" width="125px" height="200px">
                <h2>Ingredients</h2>
                <ul>
                    <li>2-3 choti elaichi/green cardamoms</li>
                    <li>2-3 badi elaichi/black cardamom</li>
                    <li>4-5 laung/cloves</li>
                    <li>1 tablespoon saunf/fennel seeds</li>
                    <li>2 piece mulethi/licorice</li>
                    <li>1 small piece of adrak/ginger sliced</li>
                    <li>4-5 kali mirch/pepper corns</li>
                    <li>1 tablespoon tulsi /Indian basil
                        OR Italian basil if you do not get it nearby</li>
                    <li>1 tea bag</li>
                    <li>gud/jaggery as per taste</li>
                    <li>1 pinch salt</li>
                    <li>3 cups water</li>
                </ul>
                <h2>Instructions</h2>
                <ol type="1">
                    <li>Slightly crush and mix all ingredients together except the jaggery.</li>
                    <li>Boil in water until it reduces to half,add jaggery.</li>
                    <li>Strain the liquid through a sieve and serve warm.</li>
                </ol>
            </div>

            <div class="container">
                <h2>Mix of Standing Spices</h2>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSusFiou3xtjkaxDnjc98GjeAIU_M5j0r6fxQ&usqp=CAU"
                    alt="image" width="125px" height="200px">
                <h2>Ingredients</h2>
                <ul>
                    <li>2-3 choti elaichi/green cardamoms</li>
                    <li>2-3 badi elaichi/black cardamom</li>
                    <li>4-5 laung/cloves</li>
                    <li>1 tablespoon saunf/fennel seeds</li>
                    <li>2 piece mulethi/licorice</li>
                    <li>1 small piece of adrak/ginger sliced</li>
                    <li>4-5 kali mirch/pepper corns</li>
                    <li>1 tablespoon tulsi /Indian basil
                        OR Italian basil if you do not get it nearby</li>
                    <li>1 tea bag</li>
                    <li>gud/jaggery as per taste</li>
                    <li>1 pinch salt</li>
                    <li>3 cups water</li>
                </ul>
                <h2>Instructions</h2>
                <ol type="1">
                    <li>Slightly crush and mix all ingredients together except the jaggery.</li>
                    <li>Boil in water until it reduces to half,add jaggery.</li>
                    <li>Strain the liquid through a sieve and serve warm.</li>
                </ol>
            </div>
        </div>
    </section>

</body>

</html>