<header>
        {{#if post.login}}
        <a href="/home" class="logo">c<span class="fas fa-virus"></span>vid-19</a>
        {{else}}
        <a href="#" class="logo">c<span class="fas fa-virus"></span>vid-19</a>
        {{/if}}

        <div id="menu" class="fas fa-bars"></div>

        <nav class="navbar">
            {{#if post.login}}
            <a class="tactive" href="/home">home</a>
            {{else}}
            <a class="tactive" href="#">home</a>
            {{/if}}
            {{!-- <a href="#tracker">tracker</a>
            <a href="#prevent">prevent</a>
            <a href="#symptoms">symptoms</a>
            <a href="#precautions">precautions</a>
            <a href="#doctor">doctor</a>
            <a href="#hand-wash">hand wash</a> --}}
            <a href="/physiotherapy">exercises</a>
            <a href="/recipe">recipes</a>
            <a href="/prediction">prediction</a>
            {{#if post.login}}
            <a href="/profile"> <i class="fa-solid fa-user"></i> </a>
            <a href="/logout">Log Out</a>
            {{else}}
            <a href="/signin">Login</a>
            {{/if}}
        </nav>
        {{!-- {{>navbar}} --}}

    </header>