<a href="#" class="logo">c<span class="fas fa-virus"></span>vid-19</a>

        <div id="menu" class="fas fa-bars"></div>

        <nav class="navbar">
            <a class="tactive" href="#home">home</a>
            {{!-- <a href="#tracker">tracker</a>
            <a href="#prevent">prevent</a>
            <a href="#symptoms">symptoms</a>
            <a href="#precautions">precautions</a>
            <a href="#doctor">doctor</a>
            <a href="#hand-wash">hand wash</a> --}}
            <a href="/physiotherapy">physiotherapy</a>
            <a href="/recipe">recipes</a>
            <a href="/prediction">prediction</a>
            <a href="/signin">Login</a>
            <a href="/logout">Log Out</a>
            <a href="/profile"> <i class="fa-solid fa-user"></i> </a>
        </nav>