@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

:root {
  --blue: #3c6382;
  --dark-blue: #0a3d62;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.3s cubic-bezier(0.38, 1.15, 0.7, 1.12);
}


:root {
  --blue: #3c6382;
  --dark-blue: #0a3d62;
}


*::selection {
  background: var(--dark-blue);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  padding: 1rem 9%;
  padding-top: 8rem;
}

.heading {
  text-align: center;
  color: var(--blue);
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: normal;
  padding: 1rem;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 2rem;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

header .logo {
  font-size: 2.5rem;
  color: var(--dark-blue);
}

header .logo span {
  color: var(--blue);
}

header .navbar a {
  font-size: 1.7rem;
  margin-left: 0.7rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  color: var(--dark-blue);
}

header .navbar a.active,
header .navbar a:hover {
  background: var(--blue);
  color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header.sticky {
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

#menu {
  font-size: 3rem;
  color: var(--blue);
  cursor: pointer;
  display: none;
}

.home {
  background: url("./4198555.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home .content {
  text-align: center;
  padding-top: 3rem;
}

.home .content h1 {
  font-size: 5rem;
  color: var(--dark-blue);
}

.home .content h3 {
  font-size: 4rem;
  color: var(--blue);
  font-weight: normal;
}

.home .content .btn {
  display: inline-block;
  padding: 0.7rem 3rem;
  color: #fff;
  background: var(--blue);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  font-size: 1.7rem;
}

.home .content .btn:hover {
  background: var(--dark-blue);
}




/*.form_container{
    margin-top: 10px !important;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 2px solid #3c6382;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* .form{
    position: inherit;
    margin: auto;
    
} 

.form-control{
    width: 47%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}*/
body{
  height: 250vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg,#3c6382, #3c6382);
}
.container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg,#3c6382, #3c6382);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 15px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color:#3c6382;
}
 form .gender-details .gender-title{
  font-size: 18px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
   font-size: 14px;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three,
 #dot-4:checked ~ .category label .four,
 #dot-5:checked ~ .category label .five,
 #dot-6:checked ~ .category label .six,
 #dot-7:checked ~ .category label .seven,
 #dot-8:checked ~ .category label .eight,
 #dot-9:checked ~ .category label .nine,
 #dot-10:checked ~ .category label .ten,
 #dot-11:checked ~ .category label .eleven,
 #dot-12:checked ~ .category label .twelve,
 #dot-13:checked ~ .category label .thirteen,
 #dot-14:checked ~ .category label .fourteen,
 #dot-15:checked ~ .category label .fifteen,
 #dot-16:checked ~ .category label .sixteen,
 #dot-17:checked ~ .category label .seventeen,
 #dot-18:checked ~ .category label .eighteen,
 #dot-19:checked ~ .category label .nineteen,
 #dot-20:checked ~ .category label .twenty,
 #dot-21:checked ~ .category label .twentyone,
 #dot-22:checked ~ .category label .twentytwo,
 #dot-23:checked ~ .category label .twentythree,
 #dot-24:checked ~ .category label .twentyfour,
 #dot-25:checked ~ .category label .twentyfive,
 #dot-26:checked ~ .category label .twentysix,
 #dot-27:checked ~ .category label .twentyseven,
 #dot-28:checked ~ .category label .twentyeight{
   background: #3c6382;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #3c6382, #3c6382);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg,#3c6382, #3c6382);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}