@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.tracker .container {
  z-index: 1;
  width: 90%;
  margin: 0 auto;
  border-radius: 24px;
  background: #fff;
  padding: 2%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.tracker .container .board {
  column-count: 3;
  column-gap: 2rem;
}
.tracker .container h2 {
  margin: 0 0 30px;
  text-align: center;
}
img#flag {
  height: 20px;
  width: 20px;
}
.tracker .container .card {
  width: 90%;
  background: #fff;
  padding: 10%;
  margin-bottom: 20px;
  border-radius: 6px;
  color: #fff;
}
.tracker .container .board .card.a {
  background: #41a7ff;
}
.tracker .container .card.cr {
  background: #ff3434;
}
.tracker .container .card.r {
  background: #32b336;
}
.tracker .container .card.ca {
  background: #d83f3f;
}
.tracker .container .card.d {
  background: #ff0053;
}
.tracker .container .card.t {
  background: #ffa501;
}
.tracker .container .card h4 {
  margin: 0;
  font-size: 2rem;
  text-align: justify;
}
.tracker .container .card span {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 4px;
}
.tracker .container .card i {
  font-size: 3rem;
  align-items: center;
}
@media screen and (max-width:768px){
  .board{
    column-count: 2;
  }
}
@media screen and (max-width:500px){
  .board{
    column-count: 1;
  }
}
